
body {
    background-color: #564946;
    color: #141414;
}

#navBar {
    background-color: #676f54;
    border: 2px solid #a7adc6;
    margin-bottom: 10px;
    display: table;
    font-size: large;
    width: 100%;
}

.navElement {
    display: table-cell;
    text-align: center;
    padding: 2px;
    width: 100px;
}

.genInfoChild{
    display: inline-block;
    text-align: center;
    padding: 10pt;
}

#generalInfo {
    background-color: #eabe7c;
    text-align: center;
}

#studentInfo {
    background-color: #eabe7c;
    text-align: center;
}

.eachInfo {
    display: inline-block;
    text-align: center;
    color: #141414;
    padding: 10pt;
}

footer {
    text-align: center;
    background-color: #eabe7c;
    color: #141414;
    border: 2px solid #a7adc6;
    margin-top: 10px;
}