body {
    background-color: #564946;
    color: #141414;
}

#navBar {
    background-color: #676f54;
    border: 2px solid #a7adc6;
    margin-bottom: 10px;
    display: table;
    font-size: large;
    width: 100%;
}

.navElement {
    display: table-cell;
    text-align: center;
    padding: 2px;
    width: 100px;
}

footer {
    text-align: center;
    background-color: #eabe7c;
    color: #141414;
    border: 2px solid #a7adc6;
    margin-top: 10px;
}

h1{
    background-color: #eabe7c;
    text-align: center;
    color: #141414;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.buttons {
    background-color: #eabe7c;
    color: #141414;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.card {
    background-color: #eabe7c;
}

#filterButton {
    margin-top: 5px;
}